/*login page css*/

.login_title {
  color: red;
  transform: translateX(30%);
}
#login_btn {
  transform: translateX(75px);
}
.login_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid;
  margin: auto;
  padding: 5px;
}

/*teacher css page*/
.manage-login-toolbar {
  position: relative;
  transform: translateX(95%);
  background-color: red;
  margin: auto;
  margin-bottom: 10px;
  padding: 20px;
}

.welcome-teacher {

}

.exam-preview {
  position: relative;
  float: right;
}
