/*login page css*/

.login_title {
  color: red;
  transform: translateX(30%);
}
#login_btn {
  transform: translateX(75px);
}
.login_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid;
  margin: auto;
  padding: 5px;
}

/*teacher css page*/
.navigation {
  background-color: lightgrey;
  margin: auto;
  margin-bottom: 10px;
  padding: 20px;
}

li {
  display: inline;
}

#navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.welcome-teacher {
  display: block;
  background-color: blue;
  color: white;
}

.row {
  display: flex;
  height: 100%;
}
.exam-editor {
  background-color: gray;
  height: 100%;
  width: 50%;
  display: block;
}
#question-bank {
  display: block;
}

#create-question {
  display: none;
}

#submit-question {
  position: relative;
  float: right;
  left: 0;
  bottom: 0;
}

.exam-preview {
  background-color: cyan;
  flex: 50%;
  height: 100%;
}

#refresh-preview {
  position: relative;
  float: right;
  right: 0;
  transform: translateY(-80px);
}
